    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar"><% if user_signed_in? %> 
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><%= link_to 'Top Up e-Wallet', ewallets_path %></li>
            <li><a href="#">Exchange Rate</a></li>
            <li><a href="#">CryptoCurrency Rate</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li> <%= link_to('Edit registration', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li><%end%>
           <li><%=  %></li>
            <% if current_user.superadmin_role? %>            
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
			<p>Visible only for superadmins and supervisors! </p>
			<% end %>
        </div>
       
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"> <%=current_user.email%> Dashboard</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <%= link_to (image_tag"rm.jpg", class: "img-responsive",alt:"Generic placeholder thumbnail"), ringgit_path %>
              <h4>RinggitCoin</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
               <%= link_to (image_tag"sgd.jpg", class: "img-responsive",alt:"Generic placeholder thumbnail"), sing_path %>
              <h4>SingCoin</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
               <%= link_to (image_tag"bat.jpg", class: "img-responsive",alt:"Generic placeholder thumbnail"), baht_path%>
              <h4>BahtCoin</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <%= link_to (image_tag"ripiah.jpg", class: "img-responsive",alt:"Generic placeholder thumbnail"), rupiah_path%>
              <h4>RupiahCoin</h4>
              <span class="text-muted"></span>
            </div>
          </div>
          <h2 class="sub-header">Transaction Details <%= @balance %></h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Currency</th>
                  <th>Amount</th>
                  <th>Balance</th>
                </tr>
              </thead>
              <tbody>
              <% running_total = 0 %>
              <% @ewallet.each do |x| %>
                <tr>
                  <td><%= x.created_at %></td>
                  <td><%= x.description %> from <%= x.choice %></td>
                  <td><%= x.currency %></td>
                  <td><%= number_to_currency(x.balance) %></td>
                  <% running_total = running_total + (x.balance) %>
                  <% end %>
                  <td><%= number_to_currency(running_total) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
 