    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar"><% if user_signed_in? %> 
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><%= link_to 'Top Up e-Wallet', ewallets_path %></li>
            <li><a href="/currency">Exchange Rate</a></li>
            <li><a href="/crypto" data-toggle="tooltip" data-placement="right" title="Get the best rate now">CryptoCurrency Rate</a></li>
            <li><a href="/remit" data-toggle="tooltip" data-placement="right" title="Send money home as easy as 123">Bank Transfer</a></li>
            <li><a href="/transfer" data-placement="right" title="No one match us for fast and cheap">P2P Transfer</a></li>
            <li><a href="/value">Value Added Services</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li> <%= link_to('Edit registration', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li><%end%>
           <li><%=  %></li>
            <% if current_user.superadmin_role? %>            
            <li><a href="">Bank Negara Dashboard</a></li>
            <li><a href="">Venture Capitalist Partner Dashboard</a></li>
          </ul>
			<p>Visible only for superadmins and supervisors! </p>
			<% end %>
        </div>
       
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"> <%=current_user.email%> Dashboard</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <%= link_to (image_tag"rm.jpg", class: "img-responsive",alt:"Generic placeholder thumbnail"), ringgit_path %>
              <h4>RinggitCoin</h4>
              <span class="text-muted"><%= number_to_currency(@ringgit) %></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
               <%= link_to (image_tag"sgd.jpg", class: "img-responsive",alt:"Generic placeholder thumbnail"), sing_path %>
              <h4>SingCoin</h4>
              <span class="text-muted"><%= number_to_currency(@sing) %></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
               <%= link_to (image_tag"bat.jpg", class: "img-responsive",alt:"Generic placeholder thumbnail"), baht_path%>
              <h4>BahtCoin</h4>
              <span class="text-muted"><%= number_to_currency(@baht) %></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <%= link_to (image_tag"ripiah.jpg", class: "img-responsive",alt:"Generic placeholder thumbnail"), rupiah_path%>
              <h4>RupiahCoin</h4>
              <span class="text-muted"><%= number_to_currency(@rupiah) %></span>
            </div>
          </div>
          <h2 class="sub-header">Transaction Details</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Currency</th>
                  <th>Amount</th>
                 
                </tr>
              </thead>
              <tbody>
              <% @ewallet.each do |x| %>
                <tr>
                  <td><%= x.created_at %></td>
                  <td><%= x.description %> from <%= x.choice %></td>
                  <td><%= x.currency %></td>
                  <td><%= number_to_currency(x.balance) %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
 