<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4">
    </div>
    <div class="col-sm-4 col-md-4">
  <%= simple_form_for @account do |f| %>
  <%= f.input :ringgitcoin %>
  <%= f.input :bahtcoin %>
  <%= f.input :singcoin %>
  <%= f.input :rupiahcoin %>
  <%= f.button :submit %>
  <% end %>
    </div>
    </div>
  </div>
